{{/*
    Copyright 2016 The Vanadium Authors. All rights reserved.
    Use of this source code is governed by a BSD-style
    license that can be found in the LICENSE file.
*/}}

{{define "content"}}
<section class="section--center mdl-grid">
    <h5>{{.Pattern}}</h5>
    <div id="parent" class="mdl-cell mdl-cell--12-col">
        <ol>
            {{range .Entries}} {{with .Suffix}}
            <li><a href="/glob?n={{urlquery $.ServerName}}&s={{urlquery .}}">{{.}}</a></li>
            {{end}} {{with .Error}}
            <li>ERROR({{verrorID .}}): {{.}}</li>
            {{end}} {{end}}
        </ol>
    </div>
</section>
{{end}}