sudo: false
dist: trusty
language: go
go:
- 1.11.1
go_import_path: v.io
env:
  matrix:
  - VDLPATH=$GOPATH/src
  global:
  - secure: tQWVg6I35tFHQ8fBGMFDaAYcGVT0jfbakdprDOBRNELNz/H2/lPgiX3MIfzNZOFFf5We8ZLaDrn/aoccrWAYfJPoyLnAcnvDTCA95HldJBt37NTHMGtA8QwDTyFCviYKLt9liDJUeNNE2qpJdUNiXWUG9Arqa0sWXA/enAFFAf8Rs/823htMclJTnZ268ASoGiBs5L59mvfeWuTN96eVKFTFuQroPywX1SUImdbx8CeH2eXs7GnnrepzO5jlPeneA10OKiCt26zE7RtZbI0PfhO+douB8lhC7SCe6/et+5vE6UHsyXvnjhr2+MQQc/SFRfOp5X2kYjx7Y/XG4nn7bGD6P3rDicmvs5X5L4iZK/7OSe+PI5/ZNVW6eeKQIQqjLg3kOZnCA58k38LRG9d5xE475ZS/8NguOiVKP5kP852ldNRJoHogF2wTMQUGt6iJlSDJIc+yHIWZ0njsxXjJ1zu3bq4FYrLfnORgn2kqW0lFRE+7W5QEhaIlknacMTM6Lm3DRG59IV3/Vq5E3D4O9j2NbPxHJhqu+RfKNZkWVmMHy4GIwtCxl0ZqiTZANwcITNMnlGeunlHcMHyHCG6r6ukNmUaSbSQJJGZYtksffqoKykgCN/bvjuTiDkusI0CiSQA3lwntUcfCv+WefugCOKJ3PwF5RQoGZenfpvewIWU=
install:
- echo "GOPATH:" $GOPATH
- echo "VDLPATH:" $VDLPATH
- go get -t v.io/...
- go install v.io/...
script:
- go test v.io/...
- make test-integration
notifications:
  email:
    receipients:
    - vanadium-ci@v.io
    on_success: never
    on_failure: always
after_success:
- bash ./trigger-travis-build.sh "$TRAVIS_API_TOKEN" vanadium java
