go 1.22.0

toolchain go1.23.1

use (
	.
	./x/ref/aws
	./x/ref/examples
	./x/ref/internal/logger
	./x/ref/lib/flags/sitedefaults
	./x/ref/runtime/internal/rpc/benchmark
	./x/ref/test/compatibility/modules/simple
)
