version: 2.1
orbs:
  win: circleci/windows@2.4.1

jobs:
  test-linux:
    parameters:
      go:
        type: string
    docker:
      - image: cimg/go:<< parameters.go >>
    steps:
      - checkout
      - run:
          name: goimports
          command: |
            go mod download golang.org/x/tools
            go install golang.org/x/tools/cmd/goimports
      - run:
          name: vdlpath
          command: |
            echo "export VDLPATH=$CIRCLE_WORKING_DIRECTORY" >> $BASH_ENV
      - run:
          name: test
          command: |
            go test -race ./...
            cd x/ref/examples
            go test -race ./...

  test-linux-integration:
    parameters:
      go:
        type: string
    docker:
      - image: cimg/go:<< parameters.go >>
    steps:
      - checkout
      - run:
          name: goimports
          command: |
            go get golang.org/x/tools/cmd/goimports
            go install golang.org/x/tools/cmd/goimports
      - run:
          name: openssl
          command: |
            uname -a
            sudo apt-get update -y
            sudo apt-get install -y pkg-config openssl libssl-dev
      - run:
          name: vdlpath
          command: |
            echo "export VDLPATH=$CIRCLE_WORKING_DIRECTORY" >> $BASH_ENV
      - run:
          name: integration-tests
          command: |
            make test-integration test-openssl-integration

  lint:
    parameters:
      go:
        type: string
    docker:
      - image: cimg/go:<< parameters.go >>
    steps:
      - checkout
      - run:
          name: downloads
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
      - run:
          name: lint
          command: |
            golangci-lint run ./...

workflows:
  circleci:
    jobs:
      - test-linux:
          matrix:
            parameters:
              go: ["1.17", "1.19"]
      - test-linux-integration:
          matrix:
            parameters:
              go: ["1.18", "1.19"]
      - lint:
          matrix:
            parameters:
              go: ["1.19"]
