<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Benchmark Results Archive</title>
    {{template "styling"}}
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
    <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
    <i class="material-icons">info</i>No results for [{{.}}]
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
    </div>
    </main>
    {{template "footer"}}
  </div>
</body>
</html>
