name: macos

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.18.x, 1.22.x]
        # add macos-12 when runners are available on github.
        os: [macos-11]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: github.com/vanadium/core
          cache: true

      - name: Setup environment
        run: |
          echo "VDLPATH=${GITHUB_WORKSPACE}/github.com/vanadium/core" >> $GITHUB_ENV
          echo "PKG_CONFIG_PATH=/usr/local/Cellar/openssl@1.1/1.1.1l_1/lib/pkgconfig" >> $GITHUB_ENV
          cd github.com/vanadium/core
          go mod download golang.org/x/tools
          go install golang.org/x/tools/cmd/goimports

      - name: Test
        run: |
          cd github.com/vanadium/core
          echo "VDLPATH: $VDLPATH"
          make test
          make test-integration
