name: macos

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: github.com/vanadium/core

      - name: Setup environment
        run: |
          echo "VDLPATH=${GITHUB_WORKSPACE}/github.com/vanadium/core" >> $GITHUB_ENV
          ls /usr/local/Cellar/openssl@1.1/1.1.1l_1
          ls -R /usr/local/Cellar/openssl@1.1/1.1.1l_1/lib
          echo "PKG_CONFIG=/usr/local/Cellar/openssl@1.1/1.1.1l_1/lib/pkgconfig"
          cd github.com/vanadium/core
          go get golang.org/x/tools/cmd/goimports
          go install -x golang.org/x/tools/cmd/goimports

      - name: Test
        run: |
          cd github.com/vanadium/core
          echo "VDLPATH: $VDLPATH"
          go test -failfast --covermode=atomic -race ./...
          make test-integration
